*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to bottom, rgb(97, 232, 200) 0%, rgb(73, 123, 232) );
  height: 100vh;
  padding: 20px;
}

.wrapper{
  background-color: rgb(211, 239, 239);
  width: 500px;
  height:auto;
  margin:50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(226, 169, 230);
}

h1{
  margin-bottom: 20px;
  color:rgb(0, 0, 0);
}

.input-task{
  display:flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex:auto;
  padding: 12px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  background: rgb(226, 169, 230);
  color:rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: rgb(224, 123, 232);
}

.delete-btn {
    padding: 8px 15px;
    background: rgb(226, 169, 230);
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background: rgb(224, 123, 232);
}

.todo-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 12px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.todo-item.span {
  flex: auto;
  font-size: 16px;
}

.todo-item.completed span {
  text-decoration: line-through;
  color:rgb(128, 128, 128);
}

.todo-item.completed {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 12px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 10px;
}

.count-task {
  margin-top: 20px;
  text-align: center;
  color:rgb(24, 20, 20);
}

